In [1]:
install.packages("nutshell", repos = "http://cran.us.r-project.org")
library(nutshell)

also installing the dependencies 'nutshell.bbdb', 'nutshell.audioscrobbler'

package 'nutshell.bbdb' successfully unpacked and MD5 sums checked
package 'nutshell.audioscrobbler' successfully unpacked and MD5 sums checked
package 'nutshell' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kellyzhai\AppData\Local\Temp\Rtmpsdhcn6\downloaded_packages

Warning message:
"package 'nutshell' was built under R version 3.3.3"Loading required package: nutshell.bbdb
Warning message:
"package 'nutshell.bbdb' was built under R version 3.3.3"Loading required package: nutshell.audioscrobbler
Warning message:
"package 'nutshell.audioscrobbler' was built under R version 3.3.3"

In [2]:
# load data
data(mort06.smpl)

In [4]:
summary(mort06.smpl)

 ResidentStatus  Education1989    Education2003    EducationFlag
 Min.   :1.000   Min.   : 0.00    Min.   :1.00     Min.   :0.0000
 1st Qu.:1.000   1st Qu.:10.00    1st Qu.:2.00     1st Qu.:0.0000
 Median :1.000   Median :12.00    Median :3.00     Median :0.0000
 Mean   :1.221   Mean   :17.98    Mean   :3.42     Mean   :0.4834
 3rd Qu.:1.000   3rd Qu.:14.00    3rd Qu.:4.00     3rd Qu.:1.0000
 Max.   :4.000   Max.   :99.00    Max.   :9.00     Max.   :1.0000
                 NA's   :117493   NA's   :125580
  MonthOfDeath    Sex          AgeDetail    AgeSubstitution   AgeRecode52
 Min.   : 1.000   F:122635   Min.   :1001   Min.   :1        Min.   : 1.00
 1st Qu.: 3.000   M:120438   1st Qu.:1063   1st Qu.:1        1st Qu.:38.00
 Median : 6.000              Median :1078   Median :1        Median :41.00
 Mean   : 6.451              Mean   :1107   Mean   :1        Mean   :39.84
 3rd Qu.:10.000              3rd Qu.:1086   3rd Qu.:1        3rd Qu.:43.00
 Max.   :12.000              Max.   :9999   Max.   :1        Max.   :52.00
                                            NA's   :243063
  AgeRecode27  AgeRecode12    AgeRecodeInfant22  PlaceOfDeath   MaritalStatus
 Min.   : 1   Min.   : 1.00   Min.   : 1.00     Min.   :1.000   D:30792
 1st Qu.:18   1st Qu.: 8.00   1st Qu.: 2.00     1st Qu.:1.000   M:92332
 Median :21   Median :10.00   Median : 6.00     Median :4.000   S:29745
 Mean   :20   Mean   : 9.22   Mean   : 7.46     Mean   :3.413   U: 1326
 3rd Qu.:23   3rd Qu.:11.00   3rd Qu.:12.00     3rd Qu.:6.000   W:88878
 Max.   :27   Max.   :12.00   Max.   :22.00     Max.   :9.000
                              NA's   :240247
 DayOfWeekofDeath CurrentDataYear InjuryAtWork MannerOfDeath
 Min.   :1.00     Min.   :2006    N: 19184     Min.   :1.00
 1st Qu.:2.00     1st Qu.:2006    U:223383     1st Qu.:7.00
 Median :4.00     Median :2006    Y:   506     Median :7.00
 Mean   :4.01     Mean   :2006                 Mean   :6.43
 3rd Qu.:6.00     3rd Qu.:2006                 3rd Qu.:7.00
 Max.   :9.00     Max.   :2006                 Max.   :7.00
                                               NA's   :69356
 MethodOfDisposition Autopsy     ActivityCode    PlaceOfInjury
 B: 66767            N:196154   Min.   :0.00     Min.   :0.00
 C: 42293            U: 26756   1st Qu.:9.00     1st Qu.:0.00
 D:   653            Y: 20163   Median :9.00     Median :2.00
 E:  2366                       Mean   :8.98     Mean   :4.01
 O:   244                       3rd Qu.:9.00     3rd Qu.:9.00
 R:  4099                       Max.   :9.00     Max.   :9.00
 U:126651                       NA's   :225900   NA's   :227330
    ICDCode       CauseRecode358  CauseRecode113   CauseRecode130
 I251   : 19303   Min.   :  6.0   Min.   :  1.00   Min.   :  9.0
 C349   : 15759   1st Qu.:134.0   1st Qu.: 43.00   1st Qu.: 89.0
 I219   : 14105   Median :214.0   Median : 63.00   Median :108.0
 J449   : 10256   Mean   :210.4   Mean   : 66.85   Mean   :104.4
 I64    :  7294   3rd Qu.:257.0   3rd Qu.: 86.00   3rd Qu.:128.0
 G309   :  7122   Max.   :456.0   Max.   :135.00   Max.   :158.0
 (Other):169234                                    NA's   :240247
 CauseRecord39                                               Race
 Min.   : 1.00   White                                         :208082
 1st Qu.:16.00   Black                                         : 29013
 Median :22.00   American Indian (includes Aleuts and  Eskimos):  1392
 Mean   :23.53   Chinese                                       :   966
 3rd Qu.:34.00   Filipino                                      :   919
 Max.   :42.00   Other Asian or Pacific Islander               :   757
                 (Other)                                       :  1944
 BridgeRaceFlag   RaceImputationFlag  RaceRecode3     RaceRecord5
 Min.   :1        Min.   :1.00       Min.   :1.000   Min.   :1.000
 1st Qu.:1        1st Qu.:1.00       1st Qu.:1.000   1st Qu.:1.000
 Median :1        Median :2.00       Median :1.000   Median :1.000
 Mean   :1        Mean   :1.63       Mean   :1.263   Mean   :1.187
 3rd Qu.:1        3rd Qu.:2.00       3rd Qu.:1.000   3rd Qu.:1.000
 Max.   :1        Max.   :2.00       Max.   :3.000   Max.   :4.000
 NA's   :242524   NA's   :241803
 HispanicOrigin  HispanicOriginRecode      age
 Min.   :100.0   Min.   :1.000        Min.   :  0.00
 1st Qu.:100.0   1st Qu.:6.000        1st Qu.: 63.00
 Median :100.0   Median :6.000        Median : 77.00
 Mean   :109.1   Mean   :5.956        Mean   : 72.29
 3rd Qu.:100.0   3rd Qu.:6.000        3rd Qu.: 86.00
 Max.   :998.0   Max.   :9.000        Max.   :112.00
                                      NA's   :29
                          Cause
 Heart Disease               :82597
 Cancer                      :57162
 Other                       :52966
 Chronic respiratory diseases:12387
 Accidents                   :12371
 Alzheimer's Disease         : 7336
 (Other)                     :18254

In [5]:
mean(mort06.smpl$age,na.rm=T)

[1] 72.29223

In [6]:
median(mort06.smpl$age,na.rm=T)

[1] 77

In [8]:
quantile(mort06.smpl$age,c(0.25,0.75),na.rm=T)

25% 75%
 63  86

In [27]:
mean(mort06.smpl$age,na.rm=T,trim=0.15)

[1] 75.30324

In [10]:
sd(mort06.smpl$age,na.rm=T)

[1] 19.00616

In [11]:
var(mort06.smpl$age,na.rm=T)

[1] 361.234

In [12]:
IQR(mort06.smpl$age,na.rm=T)

[1] 23

In [14]:
range(mort06.smpl$age,na.rm=T)

[1]   0 112

In [15]:
t<-table(mort06.smpl$Sex,mort06.smpl$Cause)

In [16]:
print(t<-table(mort06.smpl$Sex,mort06.smpl$Cause))

    Accidents Alzheimer's Disease Cancer Chronic respiratory diseases Diabetes
  F      4362                5167  27275                         6509     3718
  M      8009                2169  29887                         5878     3554

    Heart Disease Homicide Influenza and pheumonia Other Suicide
  F         42993      398                    3153 28381     679
  M         39604     1521                    2674 24585    2557

In [17]:
addmargins(t)

      Accidents Alzheimer's Disease Cancer Chronic respiratory diseases
  F    4362     5167                27275   6509
  M    8009     2169                29887   5878
  Sum 12371     7336                57162  12387

      Diabetes Heart Disease Homicide Influenza and pheumonia Other Suicide
  F   3718     42993          398     3153                    28381  679
  M   3554     39604         1521     2674                    24585 2557
  Sum 7272     82597         1919     5827                    52966 3236

      Sum
  F   122635
  M   120438
  Sum 243073

In [24]:
round(prop.table(t),2)

    Accidents Alzheimer's Disease Cancer Chronic respiratory diseases Diabetes
  F      0.02                0.02   0.11                         0.03     0.02
  M      0.03                0.01   0.12                         0.02     0.01

    Heart Disease Homicide Influenza and pheumonia Other Suicide
  F          0.18     0.00                    0.01  0.12    0.00
  M          0.16     0.01                    0.01  0.10    0.01

In [25]:
round(prop.table(t,1),3)

    Accidents Alzheimer's Disease Cancer Chronic respiratory diseases Diabetes
  F     0.036               0.042  0.222                        0.053    0.030
  M     0.066               0.018  0.248                        0.049    0.030

    Heart Disease Homicide Influenza and pheumonia Other Suicide
  F         0.351    0.003                   0.026 0.231   0.006
  M         0.329    0.013                   0.022 0.204   0.021

In [26]:
round(prop.table(t,2),3)

    Accidents Alzheimer's Disease Cancer Chronic respiratory diseases Diabetes
  F     0.353               0.704  0.477                        0.525    0.511
  M     0.647               0.296  0.523                        0.475    0.489

    Heart Disease Homicide Influenza and pheumonia Other Suicide
  F         0.521    0.207                   0.541 0.536   0.210
  M         0.479    0.793                   0.459 0.464   0.790

In [ ]:
# Evidence shows that women has higher death risk than men in Alzheimer's Disease,
# however, men has higher death risk than women in accients and suicide.